  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">台灣俚語字典 TaiwanSlang</a>
        <div class="nav-collapse">
          <ul class="nav">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

<div class="container">
<header class="jumbotron subhead" id="head">
  <h1>The Taiwanese Slang Dictionary</h1>
  <p class="lead"></p>
  <div class="row">
   <div class="span2"><a class="btn btn-inverse" href="/"><i class="icon-backward icon-white"></i>Back to dictionary</a></div>
   <div class="span2"><a class="btn btn-danger" href="/top10"><i class="icon-fire icon-white"></i><strong>Top 10</strong></a></div>
  </div>
</header>

<section id="main">
<div class="page-header"><h1><%= word.word %></h1></div>
<% for (var c = 0; c < word.defs.length; c++) { %>
<div class="row wordshow">
     <div class="span1 wordheader">Definition:</div>
     <div class="span10"><%= word.defs[c].def %></div>
     <div class="span1">
       <a href="#" class="vote up" defid="<%= word.defs[c]._id%>"><span class="votenum"><%= word.defs[c].uv %></span> <i class="icon-thumbs-up"></i></a>
       <a href="#" class="vote down" defid="<%= word.defs[c]._id%>"><span class="votenum"><%= word.defs[c].dv %></span> <i class="icon-thumbs-down"></i></a>
     </div>
</div>
<div class="row wordshow">
     <div class="span1 wordheader">Examples:</div>
     <div class="span10"><i><%= word.defs[c].ex %></i></div>
</div>
<hr width="100%">
<% } %>
<div class="row ">
     <div class="span12"><a class="btn btn-info" href="/adddef/<%= word._id %>"><i class="icon-edit icon-white"></i>Add new definition</a></div>
</div>
</section>

<script type="text/javascript">
    var upvotes = {};
    var downvotes = {};
    var voted = {};
<% for (var c = 0; c < word.defs.length; c++) { %>
    upvotes['<%= word.defs[c]._id %>'] = <%= word.defs[c].uv %>;
    downvotes['<%= word.defs[c]._id %>'] = <%= word.defs[c].dv %>;
<% } %>
  $(".vote").click(function() {
     var vote = $(this);
     var did = vote.attr('defid'),
         wid = "<%= word._id %>";
     if (did in voted) {
         $(".alert").alert();
         return;
     }
     var up = vote.hasClass('up') ? true : false;
     $.post('/vote/'+wid+'/'+did, {up: up}, 
          function(data) {
            console.log(data);
            if (data.updated > 0) {
               console.log(data.updated)
               var votefield = vote.find(".votenum");
               var voteval;
               voted[did] = true;
               if (up) {
                  val = ++upvotes[did];
               } else {
                  val = ++downvotes[did];
               }
               votefield.html(val);
            }
     });
  });
</script>
